---
sitemap_exclude: y
---

@import "{{ site.theme }}";

body {
  // background-color: yellowgreen;
}


.page-header {
  background-color: #0082ba;
  background-image: -moz-linear-gradient(160deg, #0082ba -10%, #2e4269 60%, #6d545c 120%);
  background-image: -webkit-linear-gradient(
                  160deg, #0082ba -10%, #2e4269 60%, #6d545c 120%);
  background-image: linear-gradient(
                  160deg, #0082ba -10%, #2e4269 60%, #6d545c 120%);
}

.content h2, .content h3, .content h4 {
  color: #e9872f;
}