---
sitemap_exclude: y
---

@import "{{ site.theme }}";

body {
  // background-color: yellowgreen;
}

ul.task-list {
  list-style: none;
  padding-left: 0;
}

.task-list-item input {
  margin-right: 1em;
}

.page-header {
  background-color: #0082ba;
  background-image: -moz-linear-gradient(160deg, #0082ba -10%, #2e4269 60%, #6d545c 120%);
  background-image: -webkit-linear-gradient(
                  160deg, #0082ba -10%, #2e4269 60%, #6d545c 120%);
  background-image: linear-gradient(
                  160deg, #0082ba -10%, #2e4269 60%, #6d545c 120%);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  // color: rgba(239,125,0,1) !important;  // EL
  // color: rgba(35,145,201,1); // ME
  // color: rgba(102,74,133,1); // IT
  // color: #253B55; // HTL
  color: #8e7a60;
  font-weight: bold;
}


//  Listings mit Zeilennummern

figure.highlight {

  margin-left: 0;

  pre {
    border: none;
    padding:0;
  }

  table.rouge-table td.gutter,
  table.rouge-table td.code {
    background-color: yellowgreen;
  }
}
